{% extends "_base.html" %}
{% load static %}

{% block title %}Responsive Web Design{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}
    <form action="" method='post' onsubmit="return validateForm()"> 
    {% csrf_token %}
    <div class="container"></div>
    <div class="container1">
        <div class="container2">
            <div class="container3">
                <div class="container4"><p class="par">تغییر پسورد</p></div>
                <div class="container5">
                    <div class="container6">
                        <input required="" type="number" name="NID" placeholder="شماره ملی" class="input1" autocomplete="off">
                      </div>
                      <div class="container7">
                        <input required="" type="number" name="PID" placeholder="شماره پرسنلی" class="input2" autocomplete="off">
                      </div>
                    </div>
                    <div class="container8">
                        <div class="container9">
                            <input required="" type="password" name="password1" placeholder="رمز جدید" class="input3" autocomplete="off" id="password1">
                          </div>
                          <div class="container10">
                            <input required="" type="password" name="password2" placeholder="تکرار رمز جدید" class="input4" autocomplete="off" id="password2">
                          </div>
                        </div>
                <div class="container24">
                    <div class="container25">
                        <button class="pushable1" type="submit">
                            <span class="shadow1"></span>
                            <span class="edge1"></span>
                            <span class="front1">
                              <p>ثبت</p>
                            </span>
                          </button>
                    </div>
                    <div class="container26">

                    </div>
                </div>
            </div>

        </div>
    </div>
    </form>
    <script src="{% static 'js/password_change.js' %}"></script>
{% endblock %}
