* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Iranian Sans', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/acc/12.png);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

@font-face {
    font-family: 'AFarzian2';
    src: url('/static/font/AFarzian2.ttf') format('truetype');
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('/static/font/Iranian Sans.ttf') format('truetype');
}

h1 {
    font-family: 'AFarzian2', sans-serif;
}

p {
    font-family: 'Iranian Sans', sans-serif;
}



.container{
max-width: 100%;
height: 20vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}

.one-div {
position: relative;
width: 10vw;
height: 18vh;
transform-style: preserve-3d;
animation: rot 2s infinite ease;
border-radius: 50%;
box-shadow: 0 -14px 30px 0px, inset 0 0 90px 0px;
color: white;
transition: 1s;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
justify-self: right;
margin-right: 10px;
}


@keyframes rot {
0% {
transform: rotateX(-15deg) translateY(0px);
}

50% {
transform: rotateX(-15deg) translateY(-10px);
}

100% {
transform: rotateX(-15deg) translateY(0px);
}
}

.mg {
width: 10vw;
height: 18vh;
border-radius: 50%;
}

.mg:hover {
box-shadow: -5px -5px 20px 0px black;
}

.one-div1 {
position: relative;
width: 10vw;
height: 18vh;
transform-style: preserve-3d;
animation: rot 2s infinite ease;
border-radius: 50%;
box-shadow: 0 -14px 30px 0px, inset 0 0 90px 0px;
color: white;
transition: 1s;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
justify-self: left;
margin-left: 10px;
}

.mg1 {
width: 10vw;
height: 18vh;
border-radius: 50%;
}

.mg1:hover {
box-shadow: 5px -5px 20px 0px black;
}



.container1{
max-width: 100%;
height: 70vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}

.c{
display: grid;
width: 70vw;
height: 70vh;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 30px;
}


.container3{
max-width: 100%;
height: 70vh;
display: grid;
grid-template-rows: 3fr 1fr 1fr;
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
}

.container8 {
width: 100%;
height: 36vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}



@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

.text-shadow {
position: relative;
font-style: italic;
font-size: calc(16vh + 20%);
text-transform: uppercase;
color: transparent;
-webkit-text-stroke: #fff;
-webkit-text-stroke-width: 1px;
text-shadow: 2px 2px 10px rgb(21, 255, 0);
transition: all 0.5s ease-in-out;
text-align: center;
animation: flicker 0.5s ease-in-out infinite alternate;
}


.text-shadow1 {
position: relative;
font-style: italic;
font-size: calc(2vh + 20%);
text-transform: uppercase;
color: transparent;
top: 6vh;
-webkit-text-stroke: #fff;
-webkit-text-stroke-width: 1px;
text-shadow: 2px 2px 10px blue;
transition: all 0.5s ease-in-out;
text-align: right;
animation: flicker 0.5s ease-in-out infinite alternate;
}


@keyframes flicker {
0% {
opacity: 0.5;
text-shadow: 2px 2px 10px rgb(0, 255, 13);
}
100% {
opacity: 1;
text-shadow: 2px 2px 20px blue;
}
}


.container2{
max-width: 100%;
height: 10vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}



.container4{
width: 100%;
height: 17vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}



.container5 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: left;
margin-left: 10px;
}


.input1 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(.8vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input1:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container5 .input1:valid,
.container5 .input1:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container7 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: right;
margin-right: 10px;
}



.input2 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(.8vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input2:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container7 .input2:valid,
.container7 .input2:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}




.container6{
width: 100%;
height: 17vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}


.pushable {
position: relative;
background: transparent;
padding: 0px;
border: none;
cursor: pointer;
outline-offset: 4px;
outline-color: deeppink;
transition: filter 250ms;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: hsl(113, 25%, 69%);
border-radius: 8px;
filter: blur(2px);
will-change: transform;
transform: translateY(2px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: 8px;
background: linear-gradient(
to right,
hsl(113, 39%, 39%) 0%,
hsl(113, 39%, 49%) 8%,
hsl(113, 39%, 39%) 92%,
hsl(113, 39%, 29%) 100%
);
}

.front {
font-family: 'Iranian Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
position: relative;
border-radius: 8px;
background: hsl(113, 53%, 58%);
width: 12vw;
height: 7vh;
color: white;
font-weight: 600;
text-transform: uppercase;
font-size: calc(1vw + .3vh);
transform: translateY(-4px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
filter: brightness(110%);
}

.pushable:hover .front {
transform: translateY(-6px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
transform: translateY(-2px);
transition: transform 34ms;
}

.pushable:hover .shadow {
transform: translateY(4px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
transform: translateY(1px);
transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
outline: none;
}




.pushable1 {
position: relative;
background: transparent;
padding: 0px;
border: none;
cursor: pointer;
outline-offset: 4px;
outline-color: deeppink;
transition: filter 250ms;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow1 {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: hsl(113, 25%, 69%);
border-radius: 8px;
filter: blur(2px);
will-change: transform;
transform: translateY(2px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge1 {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: 8px;
background: linear-gradient(
to right,
hsl(113, 39%, 39%) 0%,
hsl(113, 39%, 49%) 8%,
hsl(113, 39%, 39%) 92%,
hsl(113, 39%, 29%) 100%
);
}

.front1 {
font-family: 'Iranian Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
position: relative;
border-radius: 8px;
background: hsl(113, 53%, 58%);
width: 12vw;
height: 7vh;
color: white;
font-weight: 600;
text-transform: uppercase;
font-size: calc(1vw + .3vh);
transform: translateY(-4px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable1:hover {
filter: brightness(110%);
}

.pushable1:hover .front1 {
transform: translateY(-6px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable1:active .front1 {
transform: translateY(-2px);
transition: transform 34ms;
}

.pushable1:hover .shadow1 {
transform: translateY(4px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable1:active .shadow1 {
transform: translateY(1px);
transition: transform 34ms;
}

.pushable1:focus:not(:focus-visible) {
outline: none;
}

.c2 {
text-align: center;
justify-self: right;
margin-right: 10px;
}


.c1 {
text-align: center;
justify-self: left;
margin-left: 10px;
}

input::placeholder {
font-family: 'Iranian Sans', sans-serif;
font-size: calc(.7vw + .2vh);
}

