* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Iranian Sans', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/acc/12.png);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('/static/font/Iranian Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Iranian Sans';
    src: url('/static/font/Iranian Sans.ttf') format('truetype');
}

h1 {
    font-family: 'Iranian Sans', sans-serif;
}

p {
    font-family: 'Iranian Sans', sans-serif;
}


.container{
max-width: 100%;
height: 5vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}

.container1{
max-width: 100%;
height: 90vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;

}

.container2{
display: grid;
width: 60%;
height: 90vh;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 30px;
}


.container3{
max-width: 100%;
height: 90vh;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
}

.container4 {
text-align: center;
justify-self: right;
margin-right: 4vw;
}

.par {
position: relative;
font-size: calc(4vh + 20%);
text-transform: uppercase;
color: transparent;
top: 3vh;
-webkit-text-stroke: #fff;
-webkit-text-stroke-width: 1px;
transition: all 0.5s ease-in-out;
text-align: right;
animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
0% {
color: rgb(0, 255, 13);
text-shadow: 2px 2px 10px rgb(0, 255, 13);
}
50% {
color: rgb(0, 255, 13);
text-shadow: 1px 1px 5px rgb(0, 255, 13);
}
100% {
color: rgb(0, 128, 255);
text-shadow: 2px 2px 10px rgb(0, 128, 255);
}
}


.container5{
width: 100%;
height: 13vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;
align-self: center;
}



.container6 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: center;
align-items: center;
}



.input1 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(1vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input1:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container6 .input1:valid,
.container6 .input1:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container7 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: center;
align-items: center;
}



.input2 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(1vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input2:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container7 .input2:valid,
.container7 .input2:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container8 {
width: 100%;
height: 13vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;
}



.container9 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: center;
align-items: center;
}



.input3 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(1vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input3:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container9 .input3:valid,
.container9 .input3:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container10 {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
text-align: center;
justify-self: center;
align-items: center;
}


.input4 {
font-family: 'Iranian Sans', sans-serif;
width: 15vw;
height: 7vh;
border: none;
outline: none;
padding-right: 1vw;
border-radius: 6px;
color: #fff;
font-size: calc(1vw + .3vh);
background-color: #212121e3;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input4:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}


.container10 .input4:valid,
.container10 .input4:focus {
box-shadow: 3px 3px 10px rgba(0,0,0,1),
-1px -1px 6px rgba(255, 255, 255, 0.4),
inset 3px 3px 10px rgba(0,0,0,1),
inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container24 {
width: 100%;
height: 13vh;
display: grid;
grid-template-columns: repeat(2, 1fr); 
align-items: center;
justify-items: center;
color: rgb(0, 0, 0);
overflow-x: auto;
}


.pushable1 {
position: relative;
background: transparent;
padding: 0px;
border: none;
cursor: pointer;
outline-offset: 4px;
outline-color: deeppink;
transition: filter 250ms;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow1 {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: hsl(113, 25%, 69%);
border-radius: 8px;
filter: blur(2px);
will-change: transform;
transform: translateY(2px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge1 {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: 8px;
background: linear-gradient(
to right,
hsl(113, 39%, 39%) 0%,
hsl(113, 39%, 49%) 8%,
hsl(113, 39%, 39%) 92%,
hsl(113, 39%, 29%) 100%
);
}

.front1 {
font-family: 'Iranian Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
position: relative;
border-radius: 8px;
background: hsl(113, 53%, 58%);
width: 10vw;
height: 7vh;
color: white;
font-weight: 600;
text-transform: uppercase;
font-size: calc(1vw + .3vh);
transform: translateY(-4px);
transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable1:hover {
filter: brightness(110%);
}

.pushable1:hover .front1 {
transform: translateY(-6px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable1:active .front1 {
transform: translateY(-2px);
transition: transform 34ms;
}

.pushable1:hover .shadow1 {
transform: translateY(4px);
transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable1:active .shadow1 {
transform: translateY(1px);
transition: transform 34ms;
}

.pushable1:focus:not(:focus-visible) {
outline: none;
}


.container25 {
text-align: center;
justify-self: left;
margin-left: 10px;
}

input::placeholder {
font-family: 'Iranian Sans', sans-serif;
}

.input1::-webkit-inner-spin-button,
.input1::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.input2::-webkit-inner-spin-button,
.input2::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}